IotProject/src/NodeRedFlows/01_getTime.json
[{"id":"4d6036ce.9148c","type":"tab","label":"getTime","disabled":false,"info":"This flow converts a timestamp into a human readable Date time format."},{"id":"b675eebc.5aec4","type":"inject","z":"4d6036ce.9148c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":160,"wires":[["19bedb85.aea8ac"]]},{"id":"11f3bd56.63fbd3","type":"debug","z":"4d6036ce.9148c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":160,"wires":[]},{"id":"19bedb85.aea8ac","type":"function","z":"4d6036ce.9148c","name":"extractTime","func":"msg.payload = new Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["11f3bd56.63fbd3"]]}]