IotProject/src/NodeRedFlows/02_S7Communication.json
[{"id":"4d6036ce.9148c","type":"tab","label":"S7 Communication","disabled":false,"info":"This flow communicates with a S7 SIMATIC PLC via S7 protocol."},{"id":"cfd7c719.d832c","type":"s7 in","z":"4d6036ce.9148c","endpoint":"fccd4666.2f68b8","mode":"single","variable":"motorCurrent","diff":false,"name":"","x":130,"y":160,"wires":[["49109416.24752c"]]},{"id":"eb3d5ab1.b9db1","type":"s7 in","z":"4d6036ce.9148c","endpoint":"fccd4666.2f68b8","mode":"single","variable":"motorVoltage","diff":false,"name":"","x":130,"y":240,"wires":[["1108152b.229a4b"]]},{"id":"e2aa245b.4a94","type":"s7 in","z":"4d6036ce.9148c","endpoint":"fccd4666.2f68b8","mode":"single","variable":"motorTemperature","diff":false,"name":"","x":110,"y":320,"wires":[["9e9083b.2d5b3"]]},{"id":"5f84e02b.7fb5b8","type":"s7 in","z":"4d6036ce.9148c","endpoint":"fccd4666.2f68b8","mode":"single","variable":"motorStatus","diff":false,"name":"","x":130,"y":400,"wires":[["9e0c98a8.c265"]]},{"id":"49109416.24752c","type":"ui_gauge","z":"4d6036ce.9148c","name":"","group":"d508b7d0.e471e","order":3,"width":5,"height":"5","gtype":"wave","title":"Current","label":"Amps","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":160,"wires":[]},{"id":"9e0c98a8.c265","type":"ui_text","z":"4d6036ce.9148c","group":"d508b7d0.e471e","order":1,"width":5,"height":1,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-center","x":290,"y":400,"wires":[]},{"id":"9e9083b.2d5b3","type":"ui_chart","z":"4d6036ce.9148c","name":"","group":"d508b7d0.e471e","order":8,"width":15,"height":6,"label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":310,"y":320,"wires":[[]]},{"id":"1108152b.229a4b","type":"ui_chart","z":"4d6036ce.9148c","name":"","group":"d508b7d0.e471e","order":7,"width":15,"height":6,"label":"Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":290,"y":240,"wires":[[]]},{"id":"c8950814.47431","type":"s7 out","z":"4d6036ce.9148c","endpoint":"fccd4666.2f68b8","variable":"controlButton","name":"","x":710,"y":160,"wires":[]},{"id":"b8dda122.9b9c28","type":"ui_switch","z":"4d6036ce.9148c","name":"","label":"Control Button","tooltip":"This button will trigger a tag in PLC to start/stop data generation","group":"d508b7d0.e471e","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":160,"wires":[["c8950814.47431"]]},{"id":"fccd4666.2f68b8","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.200.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"S7-PLC 1512SP","vartable":[{"addr":"DB1,WORD0","name":"motorCurrent"},{"addr":"DB1,WORD2","name":"motorVoltage"},{"addr":"DB1,REAL4","name":"motorTemperature"},{"addr":"DB1,X8.0","name":"motorStatus"},{"addr":"DB1,X10.0","name":"controlButton"}]},{"id":"d508b7d0.e471e","type":"ui_group","z":"","name":"Motor","tab":"62fc459a.ae129c","order":1,"disp":true,"width":"15","collapse":false},{"id":"62fc459a.ae129c","type":"ui_tab","z":"","name":"SIMATIC S7 PLC","icon":"dashboard","disabled":false,"hidden":false}]