IotProject/src/NodeRedFlows/03_OPCUACommunication.json
[{"id":"b03efae1.e78fd","type":"tab","label":"OPC UA Comm w Dash","disabled":false,"info":"This flow communicates with a SIMATIC PLC via OPC-UA protocol."},{"id":"c6f77d6d.827cf8","type":"inject","z":"b03efae1.e78fd","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["54848b08.07790c","b3e2a6c6.2c8ed","e16d303b.ed6b4","8abe0c7f.9652f8","86e57e9b.084af","bb67ef12.b7c3e"]]},{"id":"b3e2a6c6.2c8ed","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"TO_IOT2050\".\"coolerStatus\"","datatype":"Boolean","value":"","name":"coolerStatus","x":370,"y":140,"wires":[["126e0361.8e5135"]]},{"id":"e16d303b.ed6b4","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"TO_IOT2050\".\"coolerOutput\"","datatype":"Float","value":"","name":"coolerOutput","x":370,"y":200,"wires":[["126e0361.8e5135"]]},{"id":"8abe0c7f.9652f8","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"TO_IOT2050\".\"heaterOutput\"","datatype":"Float","value":"","name":"heaterOutput","x":380,"y":260,"wires":[["126e0361.8e5135"]]},{"id":"86e57e9b.084af","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"TO_IOT2050\".\"heaterStatus\"","datatype":"Boolean","value":"","name":"heaterStatus","x":370,"y":320,"wires":[["126e0361.8e5135"]]},{"id":"bb67ef12.b7c3e","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"TO_IOT2050\".\"actualTemperature\"","datatype":"Float","value":"","name":"actualTemperature","x":390,"y":380,"wires":[["126e0361.8e5135"]]},{"id":"63f22aca.7e42d4","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"FROM_IOT2050\".\"tempSetpoint\"","datatype":"Float","value":"","name":"tempSetpoint","x":370,"y":540,"wires":[["9d8dd5c5.96b058"]]},{"id":"54848b08.07790c","type":"OpcUa-Item","z":"b03efae1.e78fd","item":"ns=3;s=\"OPC_UA_DB\".\"FROM_IOT2050\".\"tempSetpoint\"","datatype":"Float","value":"","name":"tempSetpoint","x":370,"y":80,"wires":[["126e0361.8e5135"]]},{"id":"126e0361.8e5135","type":"OpcUa-Client","z":"b03efae1.e78fd","endpoint":"a3d1adb8.1ae098","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SIMATIC PLC","x":620,"y":240,"wires":[["3f2b16fc.6b2f82"]]},{"id":"3f2b16fc.6b2f82","type":"switch","z":"b03efae1.e78fd","name":"","property":"browseName","propertyType":"msg","rules":[{"t":"eq","v":"tempSetpoint","vt":"str"},{"t":"eq","v":"coolerStatus","vt":"str"},{"t":"eq","v":"coolerOutput","vt":"str"},{"t":"eq","v":"heaterOutput","vt":"str"},{"t":"eq","v":"heaterStatus","vt":"str"},{"t":"eq","v":"actualTemperature","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":790,"y":240,"wires":[["fd07965e.082f38"],["9000aed9.dddaa8"],["e659c348.bea718"],["a1ae369d.dbe3a"],["595becc5.74dcdc"],["fd07965e.082f38","2ae8e0d2.3eecf8"]]},{"id":"fd07965e.082f38","type":"change","z":"b03efae1.e78fd","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"browseName","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["3c7e7b22.0c8b24"]]},{"id":"3c7e7b22.0c8b24","type":"ui_chart","z":"b03efae1.e78fd","name":"","group":"4712f87d.87b7e","order":14,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d61f28","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1290,"y":180,"wires":[[]]},{"id":"9000aed9.dddaa8","type":"ui_text","z":"b03efae1.e78fd","group":"4712f87d.87b7e","order":6,"width":9,"height":1,"name":"","label":"Cooler Control","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":100,"wires":[]},{"id":"e659c348.bea718","type":"ui_gauge","z":"b03efae1.e78fd","name":"","group":"4712f87d.87b7e","order":11,"width":5,"height":4,"gtype":"donut","title":"Cooler Output","label":"","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#1bb9ee","#1bb9ee","#1bb9ee"],"seg1":"","seg2":"","x":1320,"y":140,"wires":[]},{"id":"a1ae369d.dbe3a","type":"ui_gauge","z":"b03efae1.e78fd","name":"","group":"4712f87d.87b7e","order":13,"width":5,"height":4,"gtype":"donut","title":"Heater Output","label":"","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#f3a358","#f3a358","#f3a358"],"seg1":"","seg2":"","x":1320,"y":280,"wires":[]},{"id":"595becc5.74dcdc","type":"ui_text","z":"b03efae1.e78fd","group":"4712f87d.87b7e","order":9,"width":9,"height":1,"name":"","label":"Heater Control","format":"{{msg.payload}}","layout":"row-center","x":1320,"y":320,"wires":[]},{"id":"2ae8e0d2.3eecf8","type":"ui_gauge","z":"b03efae1.e78fd","name":"","group":"4712f87d.87b7e","order":12,"width":5,"height":4,"gtype":"donut","title":"Current Temperature","label":"","format":"{{value | number:1}}°C","min":0,"max":"50","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":1340,"y":360,"wires":[]},{"id":"3d99b5e8.d8eb9a","type":"ui_button","z":"b03efae1.e78fd","name":"","group":"4712f87d.87b7e","order":15,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":970,"y":380,"wires":[["2ae8e0d2.3eecf8","a1ae369d.dbe3a","3c7e7b22.0c8b24","e659c348.bea718"]]},{"id":"9d8dd5c5.96b058","type":"OpcUa-Client","z":"b03efae1.e78fd","endpoint":"a3d1adb8.1ae098","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"SIMATIC PLC","x":620,"y":540,"wires":[[]]},{"id":"74725b3a.cc8edc","type":"ui_slider","z":"b03efae1.e78fd","name":"","label":"Temperature Setpoint (°C)","tooltip":"","group":"4712f87d.87b7e","order":2,"width":8,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"50","step":"0.5","x":140,"y":540,"wires":[["63f22aca.7e42d4","b9a267cf.eb72c8"]]},{"id":"b9a267cf.eb72c8","type":"ui_text","z":"b03efae1.e78fd","group":"4712f87d.87b7e","order":3,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":350,"y":600,"wires":[]},{"id":"a3d1adb8.1ae098","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.200.20:4840","secpol":"None","secmode":"None","login":false},{"id":"4712f87d.87b7e","type":"ui_group","z":"","name":"Default","tab":"cda87faf.29807","order":1,"disp":true,"width":"15","collapse":false},{"id":"cda87faf.29807","type":"ui_tab","z":"","name":"Temperature Control","icon":"dashboard","disabled":false,"hidden":false}]