IotProject/src/NodeRedFlows/04_MQTTCommunication.json
[{"id":"c3f6281c.5d186","type":"tab","label":"MQTT Communication","disabled":false,"info":""},{"id":"6c6e924.8042cec","type":"mqtt in","z":"c3f6281c.5d186","name":"fromPLC","topic":"TO_IOT2050","qos":"0","datatype":"auto","broker":"c18e1217.1ecca8","x":240,"y":120,"wires":[["d9eb6aa9.3db5a","69925a6f.3982cc"]]},{"id":"3c038bdf.b9c33c","type":"mqtt out","z":"c3f6281c.5d186","name":"toPLC","topic":"FROM_IOT2050","qos":"0","retain":"false","broker":"c18e1217.1ecca8","x":650,"y":360,"wires":[]},{"id":"2895c9ec.f38c6e","type":"ui_button","z":"c3f6281c.5d186","name":"","group":"ef10b9a3.cb57f","order":1,"width":0,"height":0,"passthru":false,"label":"Apply Brake","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":240,"y":360,"wires":[["3c038bdf.b9c33c"]]},{"id":"d9eb6aa9.3db5a","type":"ui_chart","z":"c3f6281c.5d186","name":"","group":"ef10b9a3.cb57f","order":3,"width":15,"height":5,"label":"Braking Time (s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":680,"y":120,"wires":[[]]},{"id":"a6adf0f2.25641","type":"ui_button","z":"c3f6281c.5d186","name":"","group":"ef10b9a3.cb57f","order":4,"width":0,"height":0,"passthru":false,"label":"Clear Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":470,"y":160,"wires":[["d9eb6aa9.3db5a"]]},{"id":"69925a6f.3982cc","type":"function","z":"c3f6281c.5d186","name":"CalculateBrakeLife","func":"brake_time = msg.payload;\n\nbrake_life = (1 - (brake_time/1.6))*100;\nmsg.payload = brake_life;\nmsg.topic = \"Remaining Brake Life\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["38e7474d.057f2"]]},{"id":"38e7474d.057f2","type":"ui_gauge","z":"c3f6281c.5d186","name":"","group":"ef10b9a3.cb57f","order":2,"width":15,"height":5,"gtype":"wave","title":"Brake Life","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"9b89d79d.dbd7b8","type":"comment","z":"c3f6281c.5d186","name":"Read data from PLC via MQTT","info":"","x":210,"y":80,"wires":[]},{"id":"679459a.5cf53a8","type":"comment","z":"c3f6281c.5d186","name":"Write data to PLC via MQTT","info":"","x":200,"y":320,"wires":[]},{"id":"c18e1217.1ecca8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef10b9a3.cb57f","type":"ui_group","z":"","name":"Hydraulic Press Brake Monitoring","tab":"4679f706.41e7b","order":1,"disp":true,"width":"15","collapse":false},{"id":"4679f706.41e7b","type":"ui_tab","z":"","name":"MQTT Communication","icon":"dashboard","disabled":false,"hidden":false}]