IotProject/src/NodeRedFlows/05_Pythonflow.json
[{"id":"f04d936a.a24e5","type":"tab","label":"Python setLEDcolor","disabled":false,"info":""},{"id":"943cb917.b61028","type":"ui_button","z":"f04d936a.a24e5","name":"Clear UI","group":"41dc2695.f6b468","order":19,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"This button will clear the UI Components","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":440,"y":180,"wires":[["ea935f81.7461f8","c490a151.0a0e","491c0881.77883","250acdc3.caf81a","7ce623d3.3bfeac"]]},{"id":"250acdc3.caf81a","type":"function","z":"f04d936a.a24e5","name":"LED0 Control","func":"var input = msg.payload;\n\nif (input >= 15)\n{\n    mode = 3; // red\n}\nelse if (input > 10 && input < 15)\n{\n    mode = 2; // warning\n}\nelse if (input > 0 && input <= 10)\n{\n    mode = 1; // ok\n}\nelse\n{\n    mode = 0; // LED off\n}\n\nmsg.payload = mode;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":40,"wires":[["fc7c595d.8b2468"]]},{"id":"fc7c595d.8b2468","type":"exec","z":"f04d936a.a24e5","command":"python3 /root/setLEDcolor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"setLEDcolour LED0","x":910,"y":40,"wires":[[],[],[]]},{"id":"ea935f81.7461f8","type":"ui_gauge","z":"f04d936a.a24e5","name":"Temperature Gauge","group":"41dc2695.f6b468","order":2,"width":6,"height":5,"gtype":"gage","title":"Temperature Sensor Reading","label":"","format":"{{value | number:1}} °C","min":0,"max":"20","colors":["#00b500","#f5a15c","#ca3838"],"seg1":"10","seg2":"15","x":840,"y":140,"wires":[]},{"id":"6053b7da.c2ac78","type":"function","z":"f04d936a.a24e5","name":"generateTemperature","func":"// This function will simulate a temperature sensor reading (0 - 20 °C thermocouple)\n\nvar number = (Math.random() * 20); // generate a random float number from 0 to 20\nmsg.topic = \"Temperature\";\nmsg.payload = number;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":40,"wires":[["250acdc3.caf81a","ea935f81.7461f8","c490a151.0a0e"]]},{"id":"33233323.d9167c","type":"inject","z":"f04d936a.a24e5","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["6053b7da.c2ac78","be7b7ef9.0be008"]]},{"id":"be7b7ef9.0be008","type":"function","z":"f04d936a.a24e5","name":"generatePressure","func":"// This function will simulate a pressure sensor reading (0-10 V) analog transducer\n\nvar number = (Math.random() * 10); // generate a random float from 0 to 10\nmsg.payload = number;\nmsg.topic = \"Pressure\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["7ce623d3.3bfeac","491c0881.77883","c490a151.0a0e"]]},{"id":"7ce623d3.3bfeac","type":"function","z":"f04d936a.a24e5","name":"LED1 Control","func":"var input = msg.payload;\n\nif (input >= 7)\n{\n    mode = 13; // red\n}\nelse if (input > 5 && input < 7)\n{\n    mode = 12; // warning\n}\nelse if (input > 0 && input <= 5)\n{\n    mode = 11; // ok\n}\nelse\n{\n    mode = 10; // LED 1 off\n}\n\nmsg.payload = mode;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["4f062cc3.9f81bc"]]},{"id":"491c0881.77883","type":"ui_gauge","z":"f04d936a.a24e5","name":"Pressure Gauge","group":"41dc2695.f6b468","order":4,"width":6,"height":5,"gtype":"gage","title":"Pressure Sensor Reading","label":"","format":"{{value | number:1}} V","min":0,"max":"10","colors":["#00b500","#f5a15c","#ca3838"],"seg1":"5","seg2":"7","x":820,"y":300,"wires":[]},{"id":"4f062cc3.9f81bc","type":"exec","z":"f04d936a.a24e5","command":"python3 /root/setLEDcolor.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"setLEDcolour LED1","x":910,"y":400,"wires":[[],[],[]]},{"id":"c490a151.0a0e","type":"ui_chart","z":"f04d936a.a24e5","name":"temp and pressure graph","group":"41dc2695.f6b468","order":18,"width":15,"height":6,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0000ff","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":850,"y":220,"wires":[[]]},{"id":"41dc2695.f6b468","type":"ui_group","z":"","name":"Default","tab":"1e39315d.0b6b3f","order":1,"disp":false,"width":"15","collapse":false},{"id":"1e39315d.0b6b3f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]