IotProject/src/NodeRedFlows/07_MindSphereflow.json
[{"id":"f578b238.fdd8d8","type":"tab","label":"S7 Communication","disabled":false,"info":"This flow communicates with a S7 SIMATIC PLC via S7 protocol."},{"id":"5a65d97c.24068","type":"s7 in","z":"f578b238.fdd8d8","endpoint":"5c673bf1.703614","mode":"single","variable":"motorCurrent","diff":false,"name":"","x":130,"y":140,"wires":[["ec3f4938.bea72","706065b5.9e0954"]]},{"id":"3b6136b0.8a6732","type":"s7 in","z":"f578b238.fdd8d8","endpoint":"5c673bf1.703614","mode":"single","variable":"motorVoltage","diff":false,"name":"","x":130,"y":240,"wires":[["f22d6d6b.930568","706065b5.9e0954"]]},{"id":"a32ddd47.ee65c","type":"s7 in","z":"f578b238.fdd8d8","endpoint":"5c673bf1.703614","mode":"single","variable":"motorTemperature","diff":false,"name":"","x":110,"y":320,"wires":[["b513ad96.c9aca","706065b5.9e0954"]]},{"id":"d0c1c42d.51de38","type":"s7 in","z":"f578b238.fdd8d8","endpoint":"5c673bf1.703614","mode":"single","variable":"motorStatus","diff":false,"name":"","x":130,"y":420,"wires":[["364532ec.c756f6","706065b5.9e0954"]]},{"id":"ec3f4938.bea72","type":"ui_gauge","z":"f578b238.fdd8d8","name":"","group":"87f70161.18c238","order":3,"width":5,"height":"5","gtype":"wave","title":"Current","label":"Amps","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":200,"wires":[]},{"id":"364532ec.c756f6","type":"ui_text","z":"f578b238.fdd8d8","group":"87f70161.18c238","order":1,"width":5,"height":1,"name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-center","x":290,"y":480,"wires":[]},{"id":"b513ad96.c9aca","type":"ui_chart","z":"f578b238.fdd8d8","name":"","group":"87f70161.18c238","order":8,"width":15,"height":6,"label":"Temperature (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":310,"y":380,"wires":[[]]},{"id":"f22d6d6b.930568","type":"ui_chart","z":"f578b238.fdd8d8","name":"","group":"87f70161.18c238","order":7,"width":15,"height":6,"label":"Voltage (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":290,"y":280,"wires":[[]]},{"id":"7a0c24ca.081bfc","type":"s7 out","z":"f578b238.fdd8d8","endpoint":"5c673bf1.703614","variable":"controlButton","name":"","x":290,"y":540,"wires":[]},{"id":"e014b7dc.5ca488","type":"ui_switch","z":"f578b238.fdd8d8","name":"","label":"Control Button","tooltip":"This button will trigger a tag in PLC to start/stop data generation","group":"87f70161.18c238","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":540,"wires":[["7a0c24ca.081bfc"]]},{"id":"7bf13cb0.95a94c","type":"mindconnect","z":"f578b238.fdd8d8","name":"","configtype":"SHARED_SECRET","agentconfig":"{  \"content\": {    \"baseUrl\": \"https://southgate.eu1.mindsphere.io\",    \"iat\": \"eyJraWQiOiJrZXktaWQtMSIsInR5cCI6IkpXVCIsImFsZyI6IlJTMjU2In0.eyJpc3MiOiJTQ0kiLCJzdWIiOiJiMjQ3OTQxZDI0ZTM0NmRmYTQwZmU5NDgyYTM2Y2I1MSIsImF1ZCI6IkFJQU0iLCJpYXQiOjE2MTQxMjM2MDgsIm5iZiI6MTYxNDEyMzYwOCwiZXhwIjoxNjE0NzI4NDA4LCJqdGkiOiIyYzVkZWFhNy04ZjQ0LTQ4M2UtYWJhMC0yM2E5MzM1MGM5YzEiLCJzY29wZSI6IklBVCIsInRlbiI6ImZhY2FuYWRhIiwidGVuX2N0eCI6Im1haW4tdGVuYW50IiwiY2xpZW50X2NyZWRlbnRpYWxzX3Byb2ZpbGUiOlsiU0hBUkVEX1NFQ1JFVCJdLCJzY2hlbWFzIjpbInVybjpzaWVtZW5zOm1pbmRzcGhlcmU6djEiXX0.RaJ3qUMq8BuGlmoF-R1v5wdJ2KMy6_fYnW0n3cLaAAZxZAu9ui6vtEcAYXPJ1HfE6LCoGMwRHBUkXzlz4iOmfSlYaPMISCZdU31lDTYeUheXAATbKi3cCJ9iG1Uep1EkSPBhBmuk3Q2Y34eaiScWHVq_UDRzImHJkU5lbTcG5wMAp0eAHm2xalqONj-FB4kKxae2I-vh2eXysrFwJWhe4Cl1eEiiquQBsnu-0W_FB7Jqk2de197ac6EU2jtVoek1AaCb-P61PxsL8cruf0vud4BJ33Ghg3wOFzCh9vsXAUgY_-MZn79exlLEzS9LyiRdbiNIkfD0GRUp-3z3oKC0Gg\",    \"clientCredentialProfile\": [      \"SHARED_SECRET\"    ],    \"clientId\": \"b247941d24e346dfa40fe9482a36cb51\",    \"tenant\": \"facanada\"  },  \"expiration\": \"2021-03-02T23:40:08.000Z\"}","privatekey":"","model":"","validate":true,"validateevent":true,"chunk":false,"disablekeepalive":false,"retry":3,"parallel":1,"asyncduration":10,"x":930,"y":220,"wires":[[]]},{"id":"706065b5.9e0954","type":"join","z":"f578b238.fdd8d8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":220,"wires":[["466855cd.b6995c"]]},{"id":"466855cd.b6995c","type":"function","z":"f578b238.fdd8d8","name":"MindSphere Datapoints","func":"// take a look at the flow examples at https://playground.mindconnect.rocks\n//\n// - MindSphere expects all values to be encoded as strings\n// - Integers must not have any decimal places\n// - It is a good practice to use javascript literal notation\n// \n// * Examples: \n// \n//   - Random value between 0 and 100: `${Math.random()*100}` \n//   - Variable (HUMIDITY) from input node : `${msg.payload.HUMIDITY}` \n//   - Variable (SPEED) from input node with 0 as default: `${msg.payload.SPEED || 0}`\n\nincoming_message = msg.payload;\n\nconst values = [\n  {\n    \"dataPointId\": \"DP-Current\",\n    \"qualityCode\": \"0\",\n    \"value\": String(incoming_message[\"motorCurrent\"])\n  },\n  {\n    \"dataPointId\": \"DP-MotorStatus\",\n    \"qualityCode\": \"0\",\n    \"value\": String(incoming_message[\"motorStatus\"])\n  },\n  {\n    \"dataPointId\": \"DP-Temperature\",\n    \"qualityCode\": \"0\",\n    \"value\": String(incoming_message[\"motorTemperature\"])\n  },\n  {\n    \"dataPointId\": \"DP-Voltage\",\n    \"qualityCode\": \"0\",\n    \"value\": String(incoming_message[\"motorVoltage\"])\n  },\n  {\n    \"dataPointId\": \"DP-onlineStatus\",\n    \"qualityCode\": \"0\",\n    \"value\": \"true\"\n  }\n];\nmsg._time = new Date();\nmsg.payload=values;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["7bf13cb0.95a94c"]]},{"id":"5c673bf1.703614","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.200.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapter":"","busaddr":"2","cycletime":"1000","timeout":"2000","name":"S7-PLC 1512SP","vartable":[{"addr":"DB1,WORD0","name":"motorCurrent"},{"addr":"DB1,WORD2","name":"motorVoltage"},{"addr":"DB1,REAL4","name":"motorTemperature"},{"addr":"DB1,X8.0","name":"motorStatus"},{"addr":"DB1,X10.0","name":"controlButton"}]},{"id":"87f70161.18c238","type":"ui_group","z":"","name":"Motor","tab":"319f0c21.162a3c","order":1,"disp":true,"width":"15","collapse":false},{"id":"319f0c21.162a3c","type":"ui_tab","z":"","name":"SIMATIC S7 PLC","icon":"dashboard","disabled":false,"hidden":false}]